        <footer>
            <ul>
                <li><a href="#">Washington UBF</a></li>
                <li><a href="#">Columbia UBF</a></li>
                <li><a href="#">New York UBF</a></li>
                <li><a href="#">Trenton UBF</a></li>
                <li><a href="#">Europe UBF</a></li>
                <li><a href="#">Korea UBF</a></li>
                <li><a href="#">UBF TV</a></li>
                <li><a href="#">Chicago UBF</a></li>
                <li><a href="#">UBF Headquarters</a></li>
                
            </ul>
        </footer>