        <header>
            <div id="main-logo">
                <nav>
                    <img src="../public/img/ubf-logo.png">
                    <h4>New Jersey UBF</h4>
                    <ul>
                        <li><a href="#">Summer</a></li>
                        <li><a href="#">Message</a></li>
                        <li><a href="#">Photo</a></li>
                        <li><a href="/questionnaire">Questionnaire</a></li>
                        <li><a href="/">Main</a></li>
                    </ul>
                </nav>
            </div>  
            <div id="btn1"><a href="http://www.ubf.org/daily-bread" target="_blank">go to Daily-Bread</a></div>
            <div id="btn2"><a href="https://www.5l2forchestra.org" target="_blank">Go to 5L2F Website</a></div>
        </header>  